<!DOCTYPE html>
<html>
<head>
    <title>Celestial</title>
</head>
<body>
<div class="hero">
    <!-- navbar -->
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <strong>Celestial</strong>Movies
        </a>

        <form action="/search" method="POST">
            <div class="radio-toolbar">
                <input type="text" id="search_text" name="search_text" placeholder="Movie" title="Movie" required>
                <input type="submit" id="go" value="Search">
            </div>
        </form>
        <form action="/" method="POST">
            <input type="radio" id="Any" name="Provider" value="Any">Any</input>
            <input type="radio" id="Netflix" name="Provider" value="Netflix">Netflix</input>
            <input type="radio" id="HBO" name="Provider" value="HBO">HBO</input>
            <input type="submit" name="Filter" value="Filter">
        </form>
    </nav>
<div class="container">
    <h1>Top rated movies - page: {{page_number}}</h1>
    <h2>Provider: {{provider}}</h2>
    {% for movies in top_rated_list %}
    <h1>Movie data:</h1>
    <table>
        {% for key, value in movies.items() %}
            <tr>
              <td>
                <h2>{{ key }}</h1>
              </td>
              <td>
                {% if key != 'poster_path'%}
                <h3>{{ value }}</h2>
                {% else %}
                <a href=/movie/{{movies['id']}}>
                <img src="{{movies['poster_path']}}"/></a>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    {% endfor %}
</div>       
<form action="/" method="POST">
    <input type="submit" name="Next" value="Next">
</form>
</body>
</html>