<!DOCTYPE html>
<html>
<head>
    <title>Mahalo</title>
</head>
<body>
<div class="hero">
    <!-- navbar -->
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <strong>Mahalo</strong>Movies
        </a>

        <form action="/search", method = "POST">
            <div class="radio-toolbar">
                <input type="text" id="search_text" name="search_text" placeholder="Movie" title="Movie" required>
                <input type="submit" id="go" value="Search">
            </div>
        </form>
    </nav>
<div class="container">
    {% for movies in movie_data %}
    <h1>Movie data:</h1>
    <table>
        {% for key, value in movies.items() %}
            <tr>
              <td>
                <h2>{{ key }}</h1>
              </td>
              <td>
                {% if key != 'poster_path'%}
                <h3>{{ value }}</h2>
                {% else %}  
                <img src="{{value}}"/>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    {% endfor %}
</div>
<div class="container">
  {% for providers in provider_list %}
    <h1>Provider:</h1>
    <table>
        {% for key, value in providers.items() %}
            <tr>
              <td>
                <h1>{{ key }}</h1>
              </td>
              <td>
                {% if key != 'logo_path'%}
                <h2>{{ value }}</h2>
                {% else %}  
                <img src="{{value}}"/>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    {% endfor %}
</div>
</body>
</html>