<!DOCTYPE html>
<html>
<head>
    <title>Celestial</title>
</head>
<body>
<div class="hero">
    <!-- navbar -->
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <strong>Celestial</strong>Movies
        </a>

        <form action="/search", method = "POST">
            <div class="radio-toolbar">
                <input type="radio" id="Netlix" name="Provider" value="Netflix" checked>
                <label for="weekly">Netflix</label>
                <input type="radio" id="HBO" name="Provider" value="HBO">
                <label for="now">HBO</label>
                <input type="text" id="searchText" name="searchText" placeholder="Movie" title="Movie" required>
                <input type="submit" id="go" value="Search">
            </div>
        </form>
    </nav>
</div>

<div class="container">
    <h1>Movie data:</h1>
    <table>
        {% for key, value in movie_dict.items() %}
            <tr>
              <td>
                <h1>{{ key }}</h1>
              </td>
              <td>
                <h2>{{ value }}</h2>
              </td>
            </tr>
        {% endfor %}
      </table>
</div>
</body>
</html>