<!DOCTYPE html>
<html>
<head>
    <title>Mahalo</title>
</head>
<body>
<div class="hero">
    <!-- navbar -->
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <strong>Mahalo</strong>Movies
        </a>
        <form id="form" method="POST" onsubmit='javascript: window.location.replace("/search?q="+ document.getElementById("search_text").value); return false;'>
            <div class="radio-toolbar">
                <input type="text" id="search_text" name="search_text" placeholder="Movie" title="Movie" required>
                <input type="submit" id="go" value="Search">
            </div>
        </form>
        <form id="form" action="" method="POST">
            <input type="radio" id="Any" name="Provider" value="Any" {% if provider == 'Any' %} checked="checked" {% endif %}>Any</input>
            <input type="radio" id="Netflix" name="Provider" value="Netflix" {% if provider == 'Netflix' %} checked="checked" {% endif %}>Netflix</input>
            <input type="radio" id="HBO" name="Provider" value="HBO" {% if provider == 'HBO' %} checked="checked" {% endif %}>HBO</input>
            <input type="radio" id="Viaplay" name="Provider" value="Viaplay" {% if provider == 'Viaplay' %} checked="checked" {% endif %}>Viaplay</input>
            <input type="submit" name="Filter" value="Filter">
        </form>
    </nav>
<div class="container">
    <h1>Results for: {{keyword}}</h1>
    <h2>Provider: {{provider}}</h2>
    {% for movies in movie_list %}
    <h1>Movie data:</h1>
    <table>
        {% for key, value in movies.items() %}
            <tr>
              <td>
                <h2>{{ key }}</h1>
              </td>
              <td>
                {% if key != 'poster_path'%}
                <h3>{{ value }}</h2>
                {% else %}
                <a href=/movie/{{movies['id']}}>
                <img src="{{movies['poster_path']}}"/></a>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    {% endfor %}
</div>
</body>
</html>