<!--doctype html-->
<html>
<head>
<meta charset="utf-8">
<title>Mahalo</title>
	<!--style----->
	<style>
		body{font-family:poppins;}
	</style>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/lightslider.css"/>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <script src="static/js/JQuery3.3.1.js"></script>
    <script src="static/js/lightslider.js"></script>
</head>
<body>
 <!--navigation-------------->
 <nav>
    <!--logo--------------->
    <a href="/" class="logo">
        <img src="static/img/Mahalo-Logo-Clean.svg"/>
    </a>
    <!--TODO: Make it so the menu choices dont dissapear after page is made shorter-------------->
    <!--menu-------------->
    <form id="form" action="" method="POST">
        <ul class="menu">
            <input type="radio" id="Any" name="Provider" value="Any" {% if provider == 'Any' %} checked="checked" {% endif %}>Any</input>
            <input type="radio" id="Netflix" name="Provider" value="Netflix" {% if provider == 'Netflix' %} checked="checked" {% endif %}>Netflix</input>
            <input type="radio" id="HBO" name="Provider" value="HBO" {% if provider == 'HBO' %} checked="checked" {% endif %}>HBO</input>
            <input type="radio" id="Viaplay" name="Provider" value="Viaplay" {% if provider == 'Viaplay' %} checked="checked" {% endif %}>Viaplay</input>
            <input type="submit" name="Filter" value="Filter">
        </ul>
    </form>

    <!--search------------->
    <form id="form" method="POST" onsubmit='javascript: window.location.replace("/search?q="+ document.getElementById("search_text").value); return false;'>
        <div class="search">
            <input type="text" id="search_text" name="search_text" placeholder="Find Your Favourtie Movies" title="Movie" required>
            <!--search-icon----------->
            <button id="go" value="search">
                <img src="static/img/search.png" width="20px" height="20px">
            </button>
        </div>
    </form>

</nav>
<br><br><br><br>
<section id="movies-list">
    {% for movie in movie_list %}
    <div class="movies-box">
        <!--img------------>
        <div class="movies-img">
            <a href=/movie/{{movie['id']}}>
                <img src="{{movie['poster_path']}}"/></a>
        </div>
    </div>
    {% endfor %}
</section>
<script>
    $(document).ready(function() {
        $('#autoWidth,#autoWidth2').lightSlider({
            autoWidth:true,
            loop:true,
    onSliderLoad: function() {
        $('#autoWidth,#autoWidth2').removeClass('cS-hidden');
        } 
    });  
  });
</script>
<!--footer------------------>
<footer>
    <p>Bla bla bla</p>
    <p>Copyright 2021 - Mahalo</p>
</footer>

</body>
</html>